

.fbg_alt {
    background-image: url("/src/img/Wedding-PC-loRes.jpg");
    /*height: 1000px;*/
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover ;
}

@media (min-width: 600px) {
   
    
.salmon.salmonwidth {


    width:600px;
}
}


.salmon {
    /*background-color: #f2efe8;*/
    background-color:rgba(242,239,232,0.7);

    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    /*background-color: salmon;*/
    /*max-width: 400px;*/
    /*opacity: .95;*/
    width:600px;
    height: 350px;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;

    padding:40px;
    /*padding-top:40px;*/

}
.salmonbase{
    background-color:rgba(242,239,232,0.5);

    border-radius: 10px;
    border-style: solid;
    border-width: 2px;

}

.salmonsmall {
    width:600px;
    min-height: 200px;
    padding: 10px;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    padding:40px;

}
.salmonbase.salmonsmall {
    /*margin-left: 12%;*/
}

.lowerit {
    margin-top: 25px;
}
label {
    margin-right: 20px;
}
input {
    float:right;
}
.partyForm, .buttonForm {
    float: right;
    width:70%;
}
.btn-group {
    float:right;
}



@media (max-width: 600px) {
   
        .salmon.salmonwidth
       {
              width:100%;
              min-height: 350px;
              /*margin-top:40px;*/
              padding:5px;
              padding-top: 15px;
              
        }
        .salmon.salmonwidth input {
            width:60%
        }
        .salmonsmall {
              width:100%;
              /*height: 450px;*/
              /*margin-top:40px;*/
              padding:10px;
              padding-top: 15px;
              
        }
        .sidebar {
            width:100px;
        }
        .main {
            padding-left:  0px;
            margin-left: 100px;

        }
        .headertxtmass {
            /*width: 300px;*/

        }
        #main_innerwrapper {
            width:100%
        }
            
}