#headercontainer {
    width: 1001px;
    padding: 0;
    float: left;
    position: relative;
}
.headertxt {
    color: black;
    font-family: "hansHand";
    font-size: 65px;
    text-align: center;
    line-height: 50px;
    font-style: italic;
    border-bottom: 1px;
    margin:auto;
    position: relative;
    top:75px;
}

.headertxtmass {
    color: black;
    font-family: "hansHand";
    font-size: 65px;
    text-align: center;
    line-height: 50px;
    font-style: italic;
    border-bottom: 1px;
    margin:auto;
    position: relative;
    top:50px;
}

.headerwide {
    /*background-image: url("/src/img/banner_lgs.jpg");*/
    height: 200px;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover  ;

}
.headerwide2 {
    height: 200px;
    /*opacity: .8;*/
    /*background-color: #f2efe8;*/
}
#main_innerwrapper {
    width: 1001px;
    margin: 0 auto;
    /*z-index:0;*/



}

#plusOneDropdown {
    width: 75px;
}

.main {
    /*color: white;*/
    font-family: "hansHand";
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.bg_image {
    position:absolute;
    top:200px;
    left:150px;
    width:750px;

}

.fbg {
    background-image: url("/src/img/LoRes_BG.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover ;
}
.fbg_invit {
    background-image: url("/src/img/1000.png");
    /*height: 1100px;*/
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: contain;
    margin-top:-200px;
}
